body {
	background-color: black;
}

p {
	color: white;
	border: 2px green;
}

h1 {
	color: white;
	border: 5px;
	font-size: 30px;
}

h1 {
	color: white;
	border: 5px;
	font-size: 8px;
}
h1 {
	color: white;
	border: 5px;
	font-size: 6px;
}
